
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="ui_update/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="ui_update/static/style.css" rel="stylesheet" type="text/css" />
    <script src="ui_update/mui.min.js"></script>
    <script src="ui_update/jquery-2.1.4.min.js"></script>
    <script src="ui_update/static/script.js"></script>

<!-- blur in -->

<!-- blur out -->

    <title>Feed | Translators` Guild</title>

    <!-- Bootstrap core CSS -->
    <link href="ui_update/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="ui_update/navbar-top-fixed.css" rel="stylesheet">





<style>








body {
  font-family: "product-sans", sans-serif;
  /*filter:blur(9px);*/
}







h3{
  color: black;
}
hr{
  background-color: #fafafa;
}
/* fotter */




/**/
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:white; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#727480; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#727480; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .icon {
  width: 20px;
  padding-top: 30px;
 }
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#f5f5f5;}
 .copyright p { text-align:left; color:#6d6f7b; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:15px; font-weight:600; color:#727480; margin-bottom:22px;}
 .post p { font-size:12px; color:#727480; line-height:20px;}
 .post p span { display:block; color:#6d6f7b;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:80px;}
 .bottom_ul li:after { content:" "; color:#6d6f7b; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#6d6f7b;  font-size:12px;}

/* left */
 .bottom_ul_l { list-style-type:none; float:left; margin-bottom:0px;}
 .bottom_ul_l li { float:left; line-height:80px;font-weight:900;}
 .bottom_ul_l li:after { content:"   "; color:#6d6f7b; margin-right:12px; margin-left:8px;}
 .bottom_ul_l li a { color:#6d6f7b;  font-size:14px;}
/**/
/* down arow */

/**/






/*end footer */






/* Style the tab */
div.tab {
    overflow: hidden;
/*    border: 1px solid #ccc;
    background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  font-weight:;
    color: #00ce53;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: #05292d;
      font-weight: 800;
      font-size: 2em;
      letter-spacing: 0.1px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    color: white;
}
</style>






  </head>

  <body>

<!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="background-color:white; "> -->

    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color:white;box-shadow: 0px -50px 120px #888888; ">
   








<!--  -->

    <!-- <header id="header"> -->
      <!-- <div class="mui-appbar mui--appbar-line-height"> -->
        <!-- <div class="mui-container-fluid"> -->
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer" >☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer" style="font-size: 1.3em; padding: 0px 10px 0px 10px;">☰</a>
          
        <!-- </div> -->
      <!-- </div> -->
    <!-- </header> -->







<!--  -->








   <a class="navbar-brand" href="#" >

     <img src="ui_update/iicon.png" width="10%"> 

     Translators` Guild</a><form class="form-inline mt-2 mt-md-0" style="padding-left: 50px;">
          <input class="form-control mr-sm-2" style="background-color:#f6f6f6 ;border: 0px solid rgba(0,0,0,.15);" type="text" placeholder="Search" aria-label="Search">
          
        </form>
      

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"></a>
          </li>
        </ul>



<div class="btn-group">
  <button class="btn btn-secondary btn-sm " style="background-color: white;color: black;border:none;margin-right: 20px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img style=" ;" src="ui_update/add.png" width="15px">
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border: 0.5px solid #06424c;padding:5px;margin-right: 50px; ">




<a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Translate</a>

<a class="dropdown-item" href="#"><img src="ui_update/send.png" style="width: 30px;padding-right: 10px; " >Post</a>
    <a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Word</a>
    <a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Phrase </a>
        <a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >publication</a>
</br>
<!-- </hr> -->
</br>

<a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >Add Book</a>
<a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >Add Article</a>
<a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Symbol</a>
</br>






  </div>
  


<div class="btn-group" style="border:none;border: 0px solid rgba(0,0,0,.15);">
  <button class="btn btn-secondary btn-sm " style="background-color: white;color: black;border: 0px solid rgba(0,0,0,.15);margin-right: 20px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img style="margin-right: 10px ; display: inline-block;" src="ui_update/profile.png" width="30px">
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

     <!--   <a class="dropdown-item" href="#"></a> -->
      <a class="dropdown-item" href="#">



  

<!-- login in -->





<div class="container">

  <div class="page-header text-center">
    
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
<!--     <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Local</h3>

          <p>
           <%= user._id %><br>
            <%= user.local.username %><br>

          </p>

      </div>
    </div> -->

</div>
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
<b>
                <a href="project" style="text-decoration: none;color: gray;">edit</a>
</b>

                <p>
                   
                    email : <%= user.google.email %><br>
                    name : <%= user.google.name %>
                </p>

            </div>
        </div>

  </div>

</a>





<!-- login out -->








  </div>







      </div>






    </nav>

    



















 <div id="sidedrawer" class="mui--no-user-select" style="background-color: #e9ecef;padding: 40px 0px 0px 0px;margin: 0px 0px 0px 0px; width: 200px; ">
      <!-- <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">Brand.io</span>
      </div>
      <div class="mui-divider"></div> -->
      <ul>
        
<div class="tab" style="padding: 0px 0px 0px 30px;" >
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">





<!-- 
<img src="Asset 101.png" width="10px">
 -->
Home





  </button>


    <button class="tablinks" onclick="openCity(event, 'Paris')"><b><a href="entry/blank" style="color: orange">BETA</a></b></button>



  <button class="tablinks" onclick="openCity(event, 'Paris')"><b>#</b></button>
  <!-- <button class="tablinks" onclick="openCity(event, 'Tokyo')">Editor</button> -->
</div>

<!-- <font color="black"> -->
<div id="London" class="tabcontent" style="padding: 0px 0px 0px 20px;">
 <hr> <h3><!-- <img src="dic.png" width="25px" style="padding: 0px 5px 0px 0px" > --> Library</h3>
<a class="nav-link text-light"  href="#">New</a>
<a class="nav-link text-light" href="#">Saved</a>
<a class="nav-link text-light" style="padding-bottom:20px; " href="#">Following</a><hr>
  <h3 style="padding-top:20px; "><!-- <img src="dic.png" width="20px"> -->Dictionary 




<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" style="background-color: #f2f2f2;color: black" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    English
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

       <a class="dropdown-item" href="#"></a>
      <a class="dropdown-item" href="#">Shona</a>
    <a class="dropdown-item" href="#">Tonga</a>
    <a class="dropdown-item" href="#"> Ndebele</a>
    <a class="dropdown-item" href="#">Zulu</a>
    <a class="dropdown-item" href="#">Xhosa</a>
    <a class="dropdown-item" href="#">Kiswahili</a>
  </div>
  <div class="dropdown-menu">




  </h3>


<form class="form-inline mt-2 mt-md-0" style="padding: 20px 0px 30px 0px;">

          <input class="form-control mr-sm-2" style="background-color:#05333a;background-image: url(search.png);padding-left: 30px;background-repeat: no-repeat;background-position: 9px 5px   ;background-size:15px ;border : 0px solid rgba(0,0,0,.15);border-radius: 15px; width: 230px;" type="text" placeholder="Search" aria-label="Search">

          
        </form>


<hr>

  <h3 style="padding-top: 40px;"> <img src="ui_update/meseges.png" width="15px"> Channels</h3>



  <p style="color: gray;" align="center"> Create or joins channel</p>



</div>

<!-- </font> -->
<hr>
<div id="Paris" class="tabcontent">
  <h3>Projects</h3>
  
<div class="btn-group">
  <button class="btn btn-secondary btn-sm " style="background-color: #06424c;color: black;border:none;margin-right: 0px; padding-top: 10px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img style=" ;" src="ui_update/addblack.png" width="15px">
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border: 0px solid #06424c;padding:10px 0px 20px 0px;margin-right: 0px; ">



<a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Translate</a>

<a class="dropdown-item" href="#"><img src="ui_update/send.png" style="width: 30px;padding-right: 10px; " >Post</a>
    <a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Word</a>
    <a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Phrase </a>
        <a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >publication</a>
</br>
<!-- </hr> -->
</br>

<a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >Add Book</a>
<a class="dropdown-item" href="#"> <img src="ui_update/gab.png" style="width: 25px;padding-right: 10px; " >Add Article</a>
<a class="dropdown-item" href="#"><img src="ui_update/gab.png" style="width: 30px;padding-right: 10px; " >Symbol</a>
</br>





  </div>
  
 
</div>
 <p style="color: gray;padding-top: 20px;">Create Projects to view on this pannel</p>
<div id="Tokyo" class="tabcontent">
  <h3>Editor</h3>

  <p style="color: gray;" align="center">open document to view this pannel</p>
</div>
      </ul>










    </div>












    <div id="content-wrapper" style="background-color: white;">










<!--  -->

<!-- 
<div class="container">
      <div class="jumbotron">
        <h1></h1>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>
    </div>
 -->

<br>
<div class="container" data-toggle="modal" data-target="#myModal">
      <div class="jumbotron" style="background: white;">
        <h1>Library
        <p style="display: inline-block;" class="lead"> /  Books / Sample</p></h1>




<!-- BOOKS -->





<div class="row">
            
            
            <!-- Book -->

                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width: 450px;min-width: 320px;">
                <div class="card" style="box-shadow: none;border: solid 0.5px #dddddd;">
                    <img class="card-img-top" src="ui_update/2020.png">
                    <button class="btn btn-info btn-sm color-gray" style="width: 50px;margin:0px 0px 0px 15px;border-radius: 0px 0px 2px 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">BOOK</button>
                    <!-- <div class="card-block"> -->
                    <div style="padding: 20px; color: #4d4d4d;">
                        <h4 class="card-title">The Year 2045 - by Some Nerd</h4>
                        <div class="meta">
                            <!-- <a href="#">Friends</a> -->
                        </div>
                        <div class="card-text" style="font-size: 0.9em; line-height: 24px;">
                        <b> <p style="color: #00ce53 ;display: inline-block;"> last translation :</p> </b>
                            This translation is intended to supplement a work enti- tled ‘ e Authoress of the Odyssey’, which I published in 1897. 
<br><br>

<!-- <a href="#"> --><b> Nysha Nyahsanu <img src="ui_update/dotech.png" style="margin: 0px 10px 0px 10px;" width="5px"> Softare Enginier Student @ UCT  - </b><!-- </a> -->
                            I could not give the whole ‘Odyssey’ in that book without making it unwieldy.

                            <br>
                            <!-- <br> -->
                            <br>
                             <span class=""><button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 0px;border-radius: 2px;background-color: #ffbc00;border:none; padding: 0px 10px 0px 10px;color: black;">ENGLISH</button></span>
                        <span style="margin: 0px -10px 0px 5px"><i class=""></i>TO</span>
                        <button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 15px;border-radius: 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">SHONA</button>

                        <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>5.9 k <B>W</B></span>
                           
<br>
                            <!-- <br> -->
                            <br>
                           <!-- <div class="card-footer"> -->
                    <span style="margin: 0px 5px 0px 0px"><i class=""></i>3</span>
                         <img src="ui_update/Asset 71.png" width="40px">
                         <a href="#"><img src="ui_update/Asset 81.png" style="margin: 0px 20px 0px 15px;"width="15px"></a>
                         <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>2 %</span>
                     
                        </div>
                    </div>

                        <!-- <div class="card-footer"> -->
                        
                        
                    <!-- </div> -->
                </div>
            </div>


            <!-- / Book-->


            <!-- Book -->

                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width: 450px;min-width: 320px;">
                <div class="card" style="box-shadow: none;border: solid 0.5px #dddddd;">
                    <img class="card-img-top" src="ui_update/g.jpg">
                    <button class="btn btn-info btn-sm color-gray" style="width: 50px;margin:0px 0px 0px 15px;border-radius: 0px 0px 2px 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">BOOK</button>
                    <!-- <div class="card-block"> -->
                    <div style="padding: 20px; color: #4d4d4d;">
                        <h4 class="card-title">Best book ever - by some nerd</h4>
                        <div class="meta">
                            <!-- <a href="#">Friends</a> -->
                        </div>
                        <div class="card-text" style="font-size: 0.9em; line-height: 24px;">
                        <b> <p style="color: #00ce53 ;display: inline-block;"> last translation :</p> </b>
                            This translation is intended to supplement a work enti- tled ‘ e Authoress of the Odyssey’, which I published in 1897. 
<br><br>

<!-- <a href="#"> --><b> Amon Mutsauri <img src="ui_update/dotech.png" style="margin: 0px 10px 0px 10px;"width="5px"> - </b><!-- </a> -->
                            I could not give the whole ‘Odyssey’ in that book without making it unwieldy.

                            <br>
                            <!-- <br> -->
                            <br>
                             <span class=""><button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 0px;border-radius: 2px;background-color: #ffbc00;border:none; padding: 0px 10px 0px 10px;color: black;">ENGLISH</button></span>
                        <span style="margin: 0px -10px 0px 5px"><i class=""></i>TO</span>
                        <button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 15px;border-radius: 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">SHONA</button>

                        <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>5.9 k <B>W</B></span>
                           
<br>
                            <!-- <br> -->
                            <br>
                           <!-- <div class="card-footer"> -->
                    <span style="margin: 0px 5px 0px 0px"><i class=""></i>3</span>
                         <img src="ui_update/Asset 71.png" width="40px">
                         <a href="#"><img src="ui_update/Asset 81.png" style="margin: 0px 20px 0px 15px;"width="15px"></a>
                         <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>2 %</span>
                     
                        </div>
                    </div>

                        <!-- <div class="card-footer"> -->
                        
                        
                    <!-- </div> -->
                </div>
            </div>


            <!-- / Book-->



            
            <!-- Book -->

                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width: 450px;min-width: 320px;">
                <div class="card" style="box-shadow: none;border: solid 0.5px #dddddd;">
                    <img class="card-img-top" src="ui_update/Asset 11.png">
                    <button class="btn btn-info btn-sm color-gray" style="width: 50px;margin:0px 0px 0px 15px;border-radius: 0px 0px 2px 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">BOOK</button>
                    <!-- <div class="card-block"> -->
                    <div style="padding: 20px; color: #4d4d4d;">
                        <h4 class="card-title">The Odyssey</h4>
                        <div class="meta">
                            <!-- <a href="#">Friends</a> -->
                        </div>
                        <div class="card-text" style="font-size: 0.9em; line-height: 24px;">
                        <b> <p style="color: #00ce53 ;display: inline-block;"> last translation :</p> </b>
                            This translation is intended to supplement a work enti- tled ‘ e Authoress of the Odyssey’, which I published in 1897. 
<br><br>

<!-- <a href="#"> --><b> Nysha Nyahsanu <img src="ui_update/dotech.png" style="margin: 0px 10px 0px 10px;"width="5px"> Softare Enginier Student @ UCT  - </b><!-- </a> -->
                            I could not give the whole ‘Odyssey’ in that book without making it unwieldy.

                            <br>
                            <!-- <br> -->
                            <br>
                             <span class=""><button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 0px;border-radius: 2px;background-color: #ffbc00;border:none; padding: 0px 10px 0px 10px;color: black;">ENGLISH</button></span>
                        <span style="margin: 0px -10px 0px 5px"><i class=""></i>TO</span>
                        <button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 15px;border-radius: 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">SHONA</button>

                        <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>1.9 k <B>W</B></span>
                           
<br>
                            <!-- <br> -->
                            <br>
                           <!-- <div class="card-footer"> -->
                    <span style="margin: 0px 5px 0px 0px"><i class=""></i>3</span>
                         <img src="ui_update/Asset 71.png" width="40px">
                         <a href="#"><img src="ui_update/Asset 81.png" style="margin: 0px 20px 0px 15px;"width="15px"></a>
                         <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>8 %</span>
                     
                        </div>
                    </div>

                        <!-- <div class="card-footer"> -->
                        
                        
                    <!-- </div> -->
                </div>
            </div>


            <!-- / Book-->







            
            <!-- Book -->

                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" style="width: 450px;min-width: 320px;">
                <div class="card" style="box-shadow: none;border: solid 0.5px #dddddd;">
                    <img class="card-img-top" src="ui_update/Asset 181.png">
                    <button class="btn btn-info btn-sm color-gray" style="width: 50px;margin:0px 0px 0px 15px;border-radius: 0px 0px 2px 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">BOOK</button>
                    <!-- <div class="card-block"> -->
                    <div style="padding: 20px; color: #4d4d4d;">
                        <h4 class="card-title">Acting 101</h4>
                        <div class="meta">
                            <!-- <a href="#">Friends</a> -->
                        </div>
                        <div class="card-text" style="font-size: 0.9em; line-height: 24px;">
                        <b> <p style="color: #00ce53 ;display: inline-block;"> last translation :</p> </b>
                            This translation is intended to supplement a work enti- tled ‘ e Authoress of the Odyssey’, which I published in 1897. 
<br><br>

<!-- <a href="#"> --><b> Amon mutsauri <img src="ui_update/dotech.png" style="margin: 0px 10px 0px 10px;"width="5px">Book Worm : )  </b><!-- </a> -->
                            I could not give the whole ‘Odyssey’ in that book without making it unwieldy.

                            <br>
                            <!-- <br> -->
                            <br>
                             <span class=""><button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 0px;border-radius: 2px;background-color: #ffbc00;border:none; padding: 0px 10px 0px 10px;color: black;">ENGLISH</button></span>
                        <span style="margin: 0px -10px 0px 5px"><i class=""></i>TO</span>
                        <button class="btn btn-info btn-sm color-gray" style="margin:-5px 0px 0px 15px;border-radius: 2px;background-color: #f2f2f2;border:none; padding: 0px 10px 0px 10px;color: black;">SHONA</button>

                        <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>3.9 k <B>W</B></span>
                           
<br>
                            <!-- <br> -->
                            <br>
                           <!-- <div class="card-footer"> -->
                    <span style="margin: 0px 5px 0px 0px"><i class=""></i>3</span>
                         <img src="ui_update/Asset 71.png" width="40px">
                         <a href="#"><img src="ui_update/Asset 81.png" style="margin: 0px 20px 0px 15px;"width="15px"></a>
                         <span style="margin: 0px 5px 0px 15px;float: right;"><i class=""></i>56 %</span>
                     
                        </div>
                    </div>

                        <!-- <div class="card-footer"> -->
                        
                        
                    <!-- </div> -->
                </div>
            </div>


            <!-- / Book-->


</div>






<!-- / BOOKS -->














      </div>
    </div>





<!--  -->







    
      <!-- <div class="mui--appbar-height"></div> -->
      <!-- <div class="mui-container-fluid"> -->
        <br>
       







<!-- footer -->



<div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div style="margin-left: 0px;color: #9e9e9e;font-size: 1.5em;"><strong> Translators` Guild</strong>
 <!-- <img src="icon.png" width="200px"> --></div>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">ORG</h6>
        <ul class="footer-ul">
          <li><a href="#"> About</a></li>
          <li><a href="#"> Contact</a></li>
          <li><a href="#"> Careers</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> Press</a></li>
          <li><a href="#"> Faq's</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">RESOURCES</h6>
        <ul class="footer-ul">
          <li><a href="#"> Downloads</a></li>
          <li><a href="#"> Help Centre</a></li>
          <li><a href="#"> Guides</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Events</a></li>
          <li><a href="#"> Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">EXTRA</h6>
        <ul class="footer-ul">
          <li><a href="#"> Podcast</a></li>
        </ul>
      </div>
      
      
    </div>
  </div>




<!-- end footer -->











      </div>
    <!-- </div> -->
    




















    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="ui_update/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="ui_update/jquery.min.js"><\/script>')</script>
    <script src="ui_update/popper.min.js"></script>
    <script src="ui_update/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ui_update/ie10-viewport-bug-workaround.js"></script>
    <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
  </body>
</html>
